<p-toast></p-toast>
<p-dialog [(visible)]="carregando" >


</p-dialog>
<div>
  <img src="./assets/images/eu.jpg" height="40" width="40" alt="altttt" style="display: block; margin-right: auto;margin-left: auto;"/>
  <br/>
  <p-card>
    <p-panel header="Filtro" [toggleable]="true">
      <div class="p-grid">
        <div class="p-col-2">
          <fieldset class="ui-g" style="height: 100%; max-width: 180px;">
            <legend>&nbsp;&nbsp;Tipo de Lançamento&nbsp;&nbsp;</legend>
            <p-radioButton label="Somente Créditos" name="tipoLancamento" value="true"
                           [(ngModel)]="tipoLancamento" (click)="onFilter()">
            </p-radioButton>
            <p-radioButton label="Somente Débitos" name="tipoLancamento" value="false"
                           [(ngModel)]="tipoLancamento" (click)="onFilter()">
            </p-radioButton>
            <p-radioButton label="Créditos e Débitos" name="tipoLancamento" value="null"
                           [(ngModel)]="tipoLancamento" (click)="onFilter()">
            </p-radioButton>
          </fieldset>
        </div>
        <div class="p-col-3">
          <fieldset style="height: 100%;display: inline-table;">
            <legend>&nbsp;&nbsp;Data&nbsp;&nbsp;</legend>
            <p-calendar id="dataInicial" [(ngModel)]="dataInicial" dateFormat="dd/mm/yy"
                        (onSelect)="onFilter()" (onBlur)="onFilter()">
            </p-calendar>
            <label for="dataFinal" style="margin: 5px;">a</label>
            <p-calendar id="dataFinal" [(ngModel)]="dataFinal" dateFormat="dd/mm/yy" (onSelect)="onFilter()"
                        (onBlur)="onFilter()">
            </p-calendar>
          </fieldset>
        </div>
      </div>
    </p-panel>
  </p-card>
  <br/>
  <p-card>
    <p-table [value]="lancamentos" selectionMode="single" [(selection)]="lancamentoSelecionado" dataKey="id">
      <ng-template pTemplate="header">
        <tr>
          <th>Id</th>
          <th>Descrição</th>
          <th>Data</th>
          <th>Lançamento</th>
          <th>Valor (R$)</th>
          <th>C/D</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-lancamentoTemp>
        <tr [pSelectableRow]="lancamentoTemp">
          <td class="centered">{{lancamentoTemp.id}}</td>
          <td>{{lancamentoTemp.descricao}}</td>
          <td class="centered">{{lancamentoTemp.data|date:'dd/MM/yy'}}</td>
          <td class="centered">{{lancamentoTemp.dataSistema|date:'dd/MM/yy HH:mm'}}</td>
          <td class="right-aligned">{{lancamentoTemp.valor | currency:'R$ '}}</td>
          <td class="centered">{{lancamentoTemp.isCredito ? 'Crédito' : 'Débito'}}</td>
        </tr>
      </ng-template>
    </p-table>
  </p-card>
  <br/>
  <p-card>
    <button pButton type="button" label="Novo Lançamento" class="ui-button-success" (click)="onNovo()"></button>
    &nbsp;
    <button *ngIf="lancamentoSelecionado" pButton type="button" label="Remover Lançamento" class="ui-button-danger"
            (click)="onRemover()"></button>
    &nbsp;
    <button *ngIf="lancamentoSelecionado" pButton type="button" label="Editar Lançamento" class="ui-button-info"
            (click)="onEditar()"></button>
  </p-card>
  <p-confirmDialog header="Confirmação"></p-confirmDialog>
</div>
