td.centered
{
    text-align: center;
}

td.right-aligned
{
    text-align: right;
}

div
{
    margin: 10px;
}

p-radioButton
{
    margin: 2px;
}

fieldset
{
    margin-left: -30px; 
    border-radius: 3px;
    border: 1px solid #c8c8c8;
}