<p-toast></p-toast>
<div>
  <p-card>
    <p-panel header="Novo Lançamento" >
      <div style="height: 15px;"></div>
      <div class="p-grid">
        <div class="p-col-12 p-xl-3">
          <span class="ui-float-label">
            <input type="text" id="descricao" maxlength="255" [(ngModel)]="lancamento.descricao" pInputText
                   required="true"/>
            <label for="descricao">Descrição</label>
          </span>
        </div>
        <div class="p-col-12 p-xl-3">
          <p-checkbox id="isCredito" [(ngModel)]="lancamento.isCredito" binary="true"></p-checkbox>
          <span>{{lancamento.isCredito == true ? ' Crédito' : ' Débito'}}</span>
        </div>
        <div class="p-col-12 p-xl-3">
          <span class="ui-float-label">
            <input id="valor" type="number" [(ngModel)]="lancamento.valor" pKeyFilter="pnum" pInputText/>
            <label for="valor">Valor</label>
          </span>
        </div>
        <div class="p-col-12 p-xl-3">
          <span class="ui-float-label">
            <p-calendar id="data" [(ngModel)]="lancamento.data" dateFormat="dd/mm/yy"></p-calendar>
            <label for="data">Data</label>
          </span>
        </div>
      </div>
    </p-panel>
  </p-card>
  <br/>
  <p-card>
    <div style="text-align: center">
      <button pButton type="button" label="Salvar" class="ui-button-success" (click)="onSalvar()"></button> &nbsp;
      <button pButton type="button" label="Cancelar" class="ui-button-danger" (click)="onCancelar()"></button>
    </div>
  </p-card>
</div>
